@use '../../globals' as mixins;

.admin-layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 96px 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar content";
    height: 100vh;

    &__header {
        grid-area: header;
        background-color: var(--bg);
        border-bottom: 1px solid var(--border-light);
        display: flex;
        align-items: center;
        padding: mixins.px2rem(28) mixins.px2rem(60);
    }

    &__sidebar {
        grid-area: sidebar;
        background-color: var(--bg);
        border-right: 1px solid var(--border-light);
        overflow-y: auto;
        padding: mixins.px2rem(32) mixins.px2rem(24);
    }

    &__content {
        grid-area: content;
        padding: mixins.px2rem(24);
        overflow-y: auto;
        background-color: var(--bg-surface);
    }
}
